#banner
  .banner_content
    %h1 Cabit Documentos
    %p Agilizando seus Documentos
    = link_to "Criar Conta", new_user_registration_path, :class => "botao-main"

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organização de Documentos
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        
